.login{
height: 100vh;
background-color: rgb(193, 190, 255);
display: flex;
align-items: center;
justify-content: center;

    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;

        .left{
            flex: 1;
            background-size: cover;
            background-image: url(../../images/login.jpg);
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            h1{
                font-size: 60px;
                line-height: 50px;
            }

            p{
                color: black;
            }

            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 50px;
                
                input{
                    border:none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}