
/api/node_modules
/client/node_modules
/tools
/api/db.js

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
